<div class="sidebar">
    <figure class="centrirano" >
        <img src="/assets/{{user.slika}}" class="avatar" >
        <br>
        <figcaption style="color: white; padding-left: 15px;">{{user.ime}} {{user.prezime}}</figcaption>
    </figure><br>
    <a  (click)="pocetna()">
        <span>
         Pocetna stranica
        </span>
    </a>
    <a  (click)="povecajPodesavanja()">
        <span>
         Podesavanja
        </span>
    </a>
    <a (click)="promLoz()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
        <span>
         Promeni lozinku
        </span>
    </a>
    <a (click)="prikaziFormuZaAzuriranje()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
        <span>
         Azuriraj podatke
        </span>
    </a>
    <a (click)="povecajNekr()">
        <span>
         Nekretnine
        </span>
    </a>
    <a (click)="zaOdobri()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
        <span>
         Odobri
        </span>
    </a>
    <a (click)="prikazDodaj()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
        <span>
         Unesi novu
        </span>
    </a>
    <a (click)="ugovorene()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
        <span>
         Ugovorene prodaje
        </span>
    </a>
    <a (click)="povecajKorisnik()">
        <span>
            Korisnici
        </span>
    </a>
    <a (click)="dodaj()" *ngIf="prikaziKorisnik==1" style="padding-left: 50px;">
        <span>
            Dodaj
        </span>
    </a>
    <a (click)="izmeni()" *ngIf="prikaziKorisnik==1" style="padding-left: 50px;">
        <span>
            Izmeni
        </span>
    </a>
    <a (click)="odobriKorisnik()" *ngIf="prikaziKorisnik==1" style="padding-left: 50px;background-color:rgb(70, 69, 69)">
        <span>
            Odobri
        </span>
    </a>
    <button mat-button class="menu-button" (click)="logout()">
        <mat-icon style="color: white;">logout</mat-icon>
        <span style="color: white;">Logout</span>
    </button>
</div>
<div class="main"><br><br><br>
<h1 style="display: flex;justify-content: center;">Registracije za odobravanje</h1>
    <form  style="display: flex;justify-content: center;">
        <table>
            <tr>
                <td>Korisnicko ime</td>
                <td>Lozinka</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Mail</td>
                <td>Drzava</td>
                <td>Grad</td>
            </tr>
            <tr *ngFor="let r of sveRegistracije">
                <td>{{r.username}}</td>
                <td>{{r.password}}</td>
                <td>{{r.ime}}</td>
                <td>{{r.prezime}}</td>
                <td>{{r.mail}}</td>
                <td>{{r.drzava}}</td>
                <td>{{r.grad}}</td>
                <td>
                    <button (click)="odobri(r)">Prihvati</button>
                </td>
                <td>
                    <button (click)="odbij(r)">Odbij</button>
                </td>
            </tr>
        </table>
    </form>
    </div>
    