<div *ngIf="user.tip=='reg_korisnik'">
<div class="sidebar">
    <figure class="centrirano" >
        <img src="/assets/{{user.slika}}" class="avatar" >
        <br>
        <figcaption style="color: white; padding-left: 15px;">{{user.ime}} {{user.prezime}}</figcaption>
    </figure><br>
    <a  (click)="pocetna()">
        <span>
         Pocetna stranica
        </span>
    </a>
    <a  (click)="povecajPodesavanja()">
        <span>
         Podesavanja
        </span>
    </a>
    <a (click)="promLoz()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
        <span>
         Promeni lozinku
        </span>
    </a>
    <a (click)="prikaziFormuZaAzuriranje()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
        <span>
         Azuriraj podatke
        </span>
    </a>
    <a (click)="povecajNekr()">
        <span>
         Nekretnine
        </span>
    </a>
    <a (click)="prikaziMojeN()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
        <span>
         Moje
        </span>
    </a>
    <a (click)="prikazDodaj()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
        <span>
         Unesi novu
        </span>
    </a>
    <a (click)="prikaziInbox()" style="background-color:rgb(70, 69, 69) ;">
        <span>
         Inbox
        </span>
    </a><br>
    <button mat-button class="menu-button" (click)="logout()">
        <mat-icon style="color: white;">logout</mat-icon>
        <span style="color: white;">Logout</span>
    </button>
</div>
<div class="main">
<br>
<br>
<div style="display: grid;justify-content: center;">
<h1 style="padding-left: 200px;">INBOX</h1>
<div *ngFor="let i of konver">
<fieldset style="background-color:#CCC;max-width:500px;padding:16px;border-radius:8px; margin-bottom: 5px;background-image: url('/assets/teksturaRed1.jpg');color: white;" (click)="otvoriKonverzaciju(i)">
    {{i.nazivNekretnine}}, {{i.posiljalac}}, {{i.primalac}}
    <div class="vertical">
    <button (click)="arhiviraj(i)">Arhiviraj</button>
</div>
<div *ngIf='i.zaProcitano==1'>procitano</div>
<div *ngIf='i.zaProcitano==0'>neprocitano</div>
</fieldset>
</div><br>
<button (click)="prikaziArhivirane()">Pregledaj arhivu</button>
</div>
<br><br><br>
</div>
</div>
<div *ngIf="user.tip=='radnik'">
    <div class="sidebar">
        <figure class="centrirano" >
            <img src="/assets/{{user.slika}}" class="avatar" >
            <br>
            <figcaption style="color: white; padding-left: 15px;">{{user.ime}} {{user.prezime}}</figcaption>
        </figure><br>
        <a  (click)="pocetna()">
            <span>
             Pocetna stranica
            </span>
        </a>
        <a  (click)="povecajPodesavanja()">
            <span>
             Podesavanja
            </span>
        </a>
        <a (click)="promLoz()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
            <span>
             Promeni lozinku
            </span>
        </a>
        <a (click)="prikaziFormuZaAzuriranje()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
            <span>
             Azuriraj podatke
            </span>
        </a>
        <a (click)="povecajNekr()">
            <span>
             Nekretnine
            </span>
        </a>
        <a (click)="zaOdobri()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Odobri
            </span>
        </a>
        <a (click)="prikazDodaj()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Unesi novu
            </span>
        </a>
        <a (click)="prikazSveNekr()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Prikazi sve
            </span>
        </a>
        <a (click)="prikaziMojeN()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Moje
            </span>
        </a>
        <a (click)="ugovorene()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Ugovorene prodaje
            </span>
        </a>
        <a (click)="prikaziInbox()" style="background-color:rgb(70, 69, 69) ;">
            <span>
             Inbox
            </span>
        </a><br>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon style="color: white;">logout</mat-icon>
            <span style="color: white;">Logout</span>
        </button>
    </div>
    <div class="main"><br>
        <div style="display: grid;justify-content: center;">
<h1 style="padding-left: 200px;padding-top: 15px;">INBOX</h1>
<div *ngFor="let i of konver">
<fieldset style="background-color:#CCC;max-width:500px;padding:16px;border-radius:8px; margin-bottom: 5px;background-image: url('/assets/teksturaRed1.jpg');color: white;" (click)="otvoriKonverzaciju(i)">
    {{i.nazivNekretnine}}, {{i.posiljalac}}, {{i.primalac}}
    <div class="vertical">
    <button (click)="arhiviraj(i)">Arhiviraj</button>
</div>
<div *ngIf='i.zaProcitano==1'>procitano</div>
<div *ngIf='i.zaProcitano==0'>neprocitano</div>
</fieldset>
</div><br>
<button (click)="prikaziArhivirane()">Pregledaj arhivu</button>
</div>
<br><br><br>
</div>
