<div *ngIf="user.tip=='admin'">
    <div class="sidebar">
        <figure class="centrirano" >
            <img src="/assets/{{user.slika}}" class="avatar" >
            <br>
            <figcaption style="color: white; padding-left: 15px;">{{user.ime}} {{user.prezime}}</figcaption>
        </figure><br>
        <a  (click)="pocetna()">
            <span>
             Pocetna stranica
            </span>
        </a>
        <a  (click)="povecajPodesavanja()">
            <span>
             Podesavanja
            </span>
        </a>
        <a (click)="promLoz()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
            <span>
             Promeni lozinku
            </span>
        </a>
        <a (click)="prikaziFormuZaAzuriranje()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
            <span>
             Azuriraj podatke
            </span>
        </a>
        <a (click)="povecajNekr()">
            <span>
             Nekretnine
            </span>
        </a>
        <a (click)="zaOdobri()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Odobri
            </span>
        </a>
        <a (click)="prikazDodaj()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Unesi novu
            </span>
        </a>
        <a (click)="ugovorene()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;background-color:rgb(70, 69, 69) ;">
            <span>
             Ugovorene prodaje
            </span>
        </a>
        <a (click)="povecajKorisnik()">
            <span>
                Korisnici
            </span>
        </a>
        <a (click)="dodaj()" *ngIf="prikaziKorisnik==1" style="padding-left: 50px;">
            <span>
                Dodaj
            </span>
        </a>
        <a (click)="izmeni()" *ngIf="prikaziKorisnik==1" style="padding-left: 50px;">
            <span>
                Izmeni
            </span>
        </a>
        <a (click)="odobriKorisnik()" *ngIf="prikaziKorisnik==1" style="padding-left: 50px;">
            <span>
                Odobri
            </span>
        </a>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon style="color: white;">logout</mat-icon>
            <span style="color: white;">Logout</span>
        </button>
    </div>
    <div class="main" ><br><br><br>
        <div style="display: grid;justify-content: center;">
        <h1>Spisak ugovorenih prodaja</h1>
        <table>
            <tr>
                <td>Naziv nekretnine</td>
                <td>Ime vlasnika</td>
                <td>Cena</td>
                <td>Nacin placanja</td>
                <td>Korisnik</td>
            </tr>
            <tr *ngFor="let u of ugovoreneProdaje">
                <td>{{u.nekretnina}}</td>
                <td>{{u.ime_vlasnika}}</td>
                <td>{{u.cena}}</td>
                <td>{{u.placanje}}</td>
                <td>{{u.korisnik}}</td>
            </tr>
        </table>
    </div>
        <form class="form-style-6">
            <h1>Definisanje procenata koje agencija uzima za posredovanje</h1>
            <input type="number" name="procenatIzd" [(ngModel)]="procenatIzd" placeholder="Unesite procenat za izdavanje">
            <input type="number" name="procenatPro" [(ngModel)]="procenatPro" placeholder="Unesite procenat za prodaju">
            <button (click)="unesiProc()">Unesite procente</button>
        </form>
        <h1 style="display: flex;justify-content: center;">Agencija je prihodovala:</h1>
        <br>
        <span style="color: red;display: flex;justify-content: center;font-size: large;">{{prihodAgencija}}</span>
    </div>
</div>
<div *ngIf="user.tip=='radnik'">
    <div class="sidebar">
        <figure class="centrirano" >
            <img src="/assets/{{user.slika}}" class="avatar" >
            <br>
            <figcaption style="color: white; padding-left: 15px;">{{user.ime}} {{user.prezime}}</figcaption>
        </figure><br>
        <a  (click)="pocetna()" >
            <span>
             Pocetna stranica
            </span>
        </a>
        <a  (click)="povecajPodesavanja()">
            <span>
             Podesavanja
            </span>
        </a>
        <a (click)="promLoz()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
            <span>
             Promeni lozinku
            </span>
        </a>
        <a (click)="prikaziFormuZaAzuriranje()" *ngIf="prikaziPodesavanja==1" style="padding-left: 50px;">
            <span>
             Azuriraj podatke
            </span>
        </a>
        <a (click)="povecajNekr()">
            <span>
             Nekretnine
            </span>
        </a>
        <a (click)="zaOdobri()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Odobri
            </span>
        </a>
        <a (click)="prikazDodaj()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Unesi novu
            </span>
        </a>
        <a (click)="prikazSveNekr()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Prikazi sve
            </span>
        </a>
        <a (click)="prikaziMojeN()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;">
            <span>
             Moje
            </span>
        </a>
        <a (click)="ugovorene()" *ngIf="prikaziNekretnine==1" style="padding-left: 50px;background-color:rgb(70, 69, 69) ;">
            <span>
             Ugovorene prodaje
            </span>
        </a>
        <a (click)="prikaziInbox()">
            <span>
             Inbox
            </span>
        </a><br>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon style="color: white;">logout</mat-icon>
            <span style="color: white;">Logout</span>
        </button>
    </div>
    <div class="main"><br><br><br>
        <div style="display: grid;justify-content: center;">
        <h1>Spisak ugovorenih prodaja</h1>
        <table>
            <tr>
                <td>Naziv nekretnine</td>
                <td>Ime vlasnika</td>
                <td>Cena</td>
                <td>Nacin placanja</td>
                <td>Korisnik</td>
            </tr>
            <tr *ngFor="let u of ugovoreneProdaje">
                <td>{{u.nekretnina}}</td>
                <td>{{u.ime_vlasnika}}</td>
                <td>{{u.cena}}</td>
                <td>{{u.placanje}}</td>
                <td>{{u.korisnik}}</td>
            </tr>
        </table>
    </div><br><br>
        <h1 style="display: flex;justify-content: center;">Agencija je prihodovala:</h1>
        <br>
        <span style="color: red;font-size: large;display: flex;justify-content: center;">{{prihodAgencija}}</span>
    </div>
</div>
