.example-card {
    max-width: 300px;
    margin: 4px;
    background-image: url("/assets/tekstura2.jpg");
    height: 500px;
    color:white;
}

.nekaKlasa{
    width: 500px;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;

}

table{
    width: 500px;
}

.klasa1{
    width: max-content;
    height: max-content;
    font-size: large;
}

